<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <title>Home</title>
</head>
<body style="background-image: url(../assets/istockphoto-1008358364-640x640.jpg);">
  <div class="container">
    <div class="row">
      <form class="form-container" style="background-color: #322f3d; margin-top: 200px; padding: 50px; width: auto; margin: auto; margin-top: 100px; border-color: #cc0e74; border-style: solid; border-radius: 25px;">
        <h3 class="welcome" style="color: #e6739f;">Wanna play Who Am I?</h3>
        <div class="mb-3">
          <label for="playerName" class="form-label" style="margin-top: 20px; color: #e6739f;"><h5>Put your name here!</h5></label>
          <input type="text" class="form-control" aria-describedby="nameHelp" id="login-name">
        </div>
        <button type="submit" class="btn btn-dark" id="login-btn">Start the Game!</button>
      </form>
    </div>
  </div>
  
</body>
</html>